/* reinitialisation des styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* declarations des variables  */
:root {
  --bg-color: #f4f4f4;
  --bg2-color: #ffffff;
  --higlighting1-color: #009ca8;
  --higlighting2-color: #000000;
  --font: "Raleway";
  --font-weight-std: 500;
  --font-weight-bold: 900;
  --font-weight-medium: 700;
  --font-weight-small: 400;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font);
  font-weight: var(--font-weight-std);
  display: flex;
  justify-content: center;
  font-size: 16px;
}
/* HEADER */
header {
  width: 1376px;
  height: 817px;
  margin: 5px 0 32px;
}

.navbar {
  width: 1240px;
  height: 113px;
  margin: 39px 68px 0 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: var(--higlighting2-color);
  margin: 6px 24px;
  transition: 0.3s ease;
  font-weight: var(--font-weight-std);
}
a:hover {
  color: var(--higlighting1-color);
}
a:focus {
  color: var(--higlighting1-color);
}

.nav-btn {
  padding: 12px 32px;
  color: var(--higlighting1-color);
  background-color: var(--bg2-color);
  border-radius: 73px;
  font-weight: var(--font-weight-bold);
  transform: translateX(5px);
}
.nav-btn:hover {
  transform: scale(1.2);
}

/* Hero content */

.hero-content {
  width: 100%;
  display: flex;
  align-items: center;
}

.hero-text {
  /* padding-left: 50px; */

  width: 558px;
  margin: 0 68px 0 68px;
  text-align: left;
  font-size: 60px;
  height: 465px;
}
.smallText {
  margin-top: 2em;
  font-size: 16px;
  font-weight: var(--font-weight-small);
}

.highlight {
  font-weight: var(--font-weight-bold);
}
.highlight-sm {
  font-weight: var(--font-weight-medium);
}

.highlight-blue {
  color: var(--higlighting1-color);
}

.hero-btn {
  background-color: var(--higlighting1-color);
  color: var(--bg2-color);
  position: relative;
  top: 24px;
  left: -10px;
  font-size: 16px;
}
.hero-btn:hover {
  color: var(--higlighting2-color);
  transform: scale(1.2);
}
