/* declarations des variables  */
:root {
  --bg-color: #f4f4f4;
  --bg2-color: #ffffff;
  --higlighting1-color: #009ca8;
  --higlighting2-color: #000000;
  --font: "Raleway";
  --font-weight-std: 500;
  --font-weight-bold: 900;
  --font-weight-medium: 700;
  --font-weight-small: 400;
  --transition: 0.3s ease;
  --transform: scale(1.1);
}

/* reinitialisation des styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

body {
  background-color: var(--bg-color);
  font-weight: var(--font-weight-std);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-size: 16px;
}
/* HEADER */
header {
  width: 1376px;
  height: 817px;
  margin-top: 5px;
  transform: var(--transform);
}

.navbar {
  width: 1240px;
  height: 113px;
  margin: 39px 68px 0 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: var(--higlighting2-color);
  margin: 6px 24px;
  transition: var(--transition);
  font-weight: var(--font-weight-std);
}
a:hover {
  color: var(--higlighting1-color);
}
a:focus {
  color: var(--higlighting1-color);
}

.nav-btn {
  padding: 12px 32px;
  color: var(--higlighting1-color);
  background-color: var(--bg2-color);
  border-radius: 73px;
  font-weight: var(--font-weight-bold);
  transform: translateX(5px);
}
.nav-btn:hover {
  transform: scale(1.2);
}

/* Hero content */

.hero-content {
  width: 100%;
  display: flex;
  align-items: center;
}

.hero-text {
  /* padding-left: 50px; */

  width: 558px;
  margin: 0 68px 0 68px;
  text-align: left;
  font-size: 60px;
  height: 465px;
}
.smallText {
  margin-top: 2em;
  font-size: 16px;
  font-weight: var(--font-weight-small);
}

.highlight {
  font-weight: var(--font-weight-bold);
}
.highlight-sm {
  font-weight: var(--font-weight-medium);
}

.highlight-blue {
  color: var(--higlighting1-color);
}

.hero-btn {
  background-color: var(--higlighting1-color);
  color: var(--bg2-color);
  position: relative;
  top: 24px;
  left: -10px;
  font-size: 16px;
}
.hero-btn:hover {
  color: var(--higlighting2-color);
}

.separator {
  position: relative;
  left: 0;
  right: 0;
  width: 100vw;
}

main {
  width: 1376px;
  height: 100%;
  margin-top: 3%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  /* transform: var(--transform); */
}

.section1 {
  display: flex;
}
.section1-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transform: translatex(25%) scale(1.2);
}

.first-p {
  font-size: 3em;
}
.second-p,
.third-p {
  text-align: left;
  font-size: 1.05em;
}
.section1-img {
  margin-top: 20px;
  transform: translateY(10%);
}

.section1-img-buble {
  position: absolute;
  right: 38%;
  z-index: -20;
  top: -6%;
}

.section1-img-second {
  z-index: 1999;
}
