
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

body {
  font-family: 'Raleway', sans-serif;

}
.sec1{
  width: 1376;
  height: 817;
  top: 5px;
  left: 32px;
  border-radius: 40px;
  background-color: #f0f0f0;

}
.navbar {
  background-color:#f0f0f0;
  padding: 20px 0;
  border-bottom: 1px  #f0f0f0;
  position: sticky;
  top: 0;
  z-index: 1000;
  font-family:'Raleway', sans-serif; 
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.logo img {
  width: 169;
  height: 113;
}


.nav-links {
  width: 617;
  height: 36;
  gap: 24px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  font-family: 'Raleway';
}

.nav-links a {
  width: 137;
  height: 24;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-decoration: none;
  color: #111;
  transition: color 0.3s ease;
}

.nav-links a.active {
  width: 58;
  height: 24;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #00aeb0;
}

.nav-links a:hover {
  color: #00aeb0;
}

.btn-postulez {
 
  width: 149;
  height: 52;
  border-radius: 73px;
  gap: 10px;
  padding-top: 12px;
  padding-right: 32px;
  padding-bottom: 12px;
  padding-left: 32px;
  font-family:'Raleway';
  font-weight: 900;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  
  background-color: #ffffff;
  color: #009CA8;
  text-decoration: none;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-postulez:hover {
  text-decoration-line: underline;
  transform: translateY(-2px);
}
.hero-text{
  width: 465px;
  height: 558px;
  top: 216px;
  left: 68px;
  gap: 32px;

}
.container{
  display: flex;
  justify-content: center;
}
.txt{
  width: 558;
  height: 369;
  gap: 18px;

}
h1{
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 60px;
  line-height: 126%;
  letter-spacing: 0%;

}
span{
  color: #009CA8;
}
.hero-img{
  width: 684;
  height: 690;
  top: 127px;
  left: 665px;

}
.box1{
  background-color: rgb(159, 160, 95);
  width: 534.0000026317331;
  height: 534.0000026317331;
  top: 63.14px;
  left: 71.42px;
  transform:rotate( 4.37 deg);
  opacity: 0.3;
  border-radius: 60px;

}
.btn{
  background: #009CA8;
  text-decoration: none;
  width: 227;
  height: 64;
  border-radius: 73px;
  gap: 10px;
  padding-top: 24px;
  padding-right: 32px;
  padding-bottom: 24px;
  padding-left: 32px;

}
.img1{
  position: relative;
  z-index: 2;
  width: 100%;
  border-radius: 30px;
  object-fit: cover;
}
