
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  width: 1440px;
  height: 5432px;
  top: -2866px;
  left: -720px;
  background:#F4F4F4 ;
}
.sec1{
  width: 1376px;
  height: 817px;
  top: 5px;
  left: 32px;
  border-radius: 40px;

}

.header{
  display:flex ;
  width: 1240px;
  height: 113px;
  top: 39px;
  left: 68px;
  justify-content: space-evenly;
 align-items: center;

}
.logo{
    width: 169px;
    height: 113px;

}
.navbar{
    width: 617px;
    height: 36px;
    gap: 24px;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    
    

}
.navbar a{  
    text-decoration: none;
    color: #111;
    font-weight: 400px;
    font-size: 1rem;
    transition: color 0.3s ease;
    

}
.navbar a.accueil{
    font-weight: 800px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #009CA8;

}
.navbar a:hover{
    color: #009CA8;

}
a{
    text-decoration: none;
    

}


.btn-post{
    font-family: 'Raleway', sans-serif;
    background-color: white;
    width: 149;
    height: 52;
    border-radius: 73px;
    padding-top: 12px;
    padding-right: 32px;
    padding-bottom: 12px;
    padding-left: 32px;
    gap: 10px;

}
.btn-post a{
    font-weight: 900;
    font-size: 20;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    color: #009CA8;

}


.container{

  width: 558px;
  height: 465px;
  top: 216px;
  left: 68px;
  gap: 32px;

}
.image{

  width: 684px;
  height: 690px;
  top: 127px;
  left: 665px;

}
.part{
    display: flex;
}
.delai p{
    font-weight: 400px;
    font-size: 24px;
    line-height: 190%;
    letter-spacing: 0px;

}
span{

  color: #009CA8;
    font-weight: 800;
    font-size: 60;
    line-height: 126%;
    letter-spacing: 0%;
}

p{
    font-size: 60px;
    line-height: 126%;
    letter-spacing: 0%;
}

.delai span{
    font-weight: 700px;
    font-size: 24px;
    line-height: 190%;
    letter-spacing: 0px;
   

}
.btn-cand{
    width: 180px;
    height: 50px;
    border-radius: 73px;
    padding-top: 24px;
    padding-right: 32px;
    padding-bottom: 24px;
    padding-left: 32px;
    gap: 10px;
    background-color: #009CA8;
   display: flex;
   justify-content: center;
   text-align: justify;
}
.btn-cand a{
    width: 163px;
    height: 28px;
    font-weight: 700;
    font-size: 40;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: justify;
    color: #FFFFFF;


}
.vector{
    width: 1440px;
    height: 206px;
    top: 751px;

}
.vector img{
    border: 4px  #009CA81A
}
.heading2{
    display: flex;
}
.heading2 p{
    width: 702px;
    height: 210px;
    top: 998px;
    left: 122px;

}
.heading2 img{
    width: 855px;
    height: 563px;
    top: 1005px;
    left: 563px;

}
.para{
    width: 610;
    height: 240;
    top: 1241px;
    left: 122px;
    opacity: 0.9;

}
.para p{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    vertical-align: middle;

}
.section2{
    display: flex;
    width: 1280px;
    height: 769.969970703125px;
    top: 1568px;
    left: 80px;
    border-radius: 24px;
    background: #009CA80D;


}
.section3{
    width: 625px;
    height: 1092.949951171875px;
    top: 2564px;
    left: 80px;
    border-radius: 10px;
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
    gap: 35px;
    background: #FFFFFF;


}
.section4{
    width: 625px;
    height: 1092.949951171875px;
    top: 2564px;
    left: 735px;
    border-radius: 10px;
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
    gap: 35px;
    background: #FFFFFF;


}
.section5{    
    width: 625px;
    height: 1092.949951171875px;
    top: 2564px;
    left: 735px;
    border-radius: 10px;
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
    gap: 35px;
    background: #FFFFFF;

}
.section6{
    width: 625px;
    height: 1092.949951171875px;
    top: 2564px;
    left: 735px;
    border-radius: 10px;
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
    gap: 35px;
    background: #FFFFFF;
}
.section7{
    width: 1280px;
    height: 546px;
    top: 4913px;
    left: 80px;
    border-radius: 40px;
    background: #E8F0F0;


}
.section34{
    display: flex;
}
.section56{
    display: flex;
}
.s1{
    width: 410.2974548339844px;
    height: 188px;
    top: 90px;
    left: 90px;
    
}
.s2{
    width: 390px;
    height: 252px;
    top: 297px;
    left: 90px;

}
.s3{
    width: 668px;
    height: 626px;
    top: 83px;
    left: 522px;

}
.s1 p{

    font-weight: 600;
    font-size: 44px;
    line-height: 48px;
    letter-spacing: -1px;
    vertical-align: middle;

}
.s1 p span{
    font-weight: 900;
    font-size: 44px;
    line-height: 48px;
    letter-spacing: -1px;
    vertical-align: middle;

}
.s2 p{

    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
    vertical-align: middle;

}
.intitule{
    width: 152px;
    height: 30px;
    top: 57px;
    left: 53px;
    opacity: 0.9;

}
.intitule p{
    font-weight: 800;
    font-size: 32px;
    line-height: 30px;
    letter-spacing: 0%;
    vertical-align: middle;

}
.c1{
    width: 561px;
    height: 108px;
    gap: 10px;

}
.c2{
    width: 561px;
    height: 108px;
    gap: 10px;

}
.c3{
    width: 561px;
    height: 108px;
    gap: 10px;
}
.c4{
    width: 561px;
    height: 108px;
    gap: 10px;
}
.layout{
    width: 466px;
    height: 70px;
    top: 2438px;
    left: 487px;

}
.layout p{
    font-weight: 500;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;

}
.layout p span{
    font-weight: 900;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    color: #009CA8;


}