

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}


.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}


header {
  background-color: whitesmoke;
  padding: 20px 0;

}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-container img {
  width: 169;
  height: 113;

}

.nav-links ul {
  display: flex;
  gap: 24px;
  list-style: none;
  width: 617;
  height: 36;


}

.nav-links a {
  text-decoration: none;
  color: #009CA8;
  font-weight: 900;
}

.nav-links a span{
  background-color: white;
  color:  #009CA8;
  padding: 10px 15px;
  text-decoration: none;
  margin-top: 20px;
  border-radius: 73px;
  
}


.hero {
  display: flex;
  background-color: whitesmoke;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
border-radius: 40px;

}

.hero .container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
}

.herotext {
  flex: 1;
}

.herotext h1 {
  font-weight: 500;
  font-size: 60px;
  line-height: 126%;
  letter-spacing: 0%;
  font-size: 4rem;
  margin-bottom: 20px;

}

.herotext h1 span {
  color: #009CA8;

}

.herotext strong {
  color: black
}

.herotext a {
  display: inline-block;
  background-color: #009CA8;
  color: #fff;
  padding: 10px 20px;
  margin-top: 15px;
  text-decoration: none;
  border-radius: 5px;
}

.heroimg {
  flex: 1;
  text-align: center;
  
}

.heroimg img {
  max-width: 100%;
  height: auto;
}


.presentation-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  padding: 60px 0;
}

.presentation-text {
  flex: 1;
}

.presentation-text h2 {
  font-family: Raleway;
  font-weight: 500;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;

}

.presentation-text span {
  color: #009CA8;

}

.presentation-text p{
  font-family: Raleway;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  vertical-align: middle;
  


}


.presentation-img {
  flex: 1;
  text-align: center;
}

.presentation-img img {
  max-width: 100%;
  height: auto;
}


.bootcamps {
  background-color: #E8F0F0;
  padding: 60px 0;
  text-align: center;
}

.bootcamps h2 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.bootcamps span {
  color: #009CA8;

}

.bootcamps p {
  font-family: Raleway;
font-weight: 500;
font-size: 24px;
line-height: 36px;
letter-spacing: 0%;
vertical-align: middle;

}


.Pour-qui {
  padding: 60px 0;
  background-color: #f2f6f7;;

}

.Pour-qui ul {
  list-style-type: none;
}

.Pour-qui li {
  margin-bottom: 20px;
}

.Pour-qui strong {
  color: black;

}


.formations {
  padding: 60px 0;
  background-color: white;
}

.container h2{
  color: black;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  
}

.container span{
  color: #009CA8;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 30px;
  margin-top: 40px;
}


.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
}
 
.card p{
  font-weight: bold;
}

.card p span{
  background-color: #E9E9F0CC;


}
.card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  

}


.card img {
  max-width: 100%;
  margin: 20px 0;
}

.card a {
  display: inline-block;
  background-color: #009CA8;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  margin-top: 10px;
  border-radius: 5px;
}


.footer {
  background-color:  #E8F0F0;
  color:#000000;
  padding: 40px 0;
  text-align: center;
}

.footer h2 {
  font-size: 3rem;
  width: 1001px;
  height: 124px;
  margin-top: 117px;
 margin-left: 139px;
gap: 16px;

  text-align: center;
  margin-bottom: 20px;
  color: #000000;

}



.footer p{
  width: 1001px;
  height: 92px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 90%;


}